h2 {
    color: Black;
    font-family: verdana;
}



h3 {
    color: DarkBlue;
    font-family: verdana;
}



h4 {
    color: CornflowerBlue;
    font-family: verdana;
}



h5 {
    color: Coral;
    font-family: verdana;
}



p {
    font-family: "verdana";
    text-indent: "30px";
    margin-left: "15px";
}

#challenges {
    background-color: AliceBlue;
    padding: 20px;
    margin: 20px;
    border: 3px solid powderblue;
}

#problems {
    background-color: AliceBlue;
    padding: 20px;
    margin: 20px;
    border: 3px solid powderblue;
}

#results {
    background-color: AliceBlue;
    padding: 20px;
    margin: 20px;
    border: 3px solid powderblue;
}

#task1 {
    background-color: OldLace;
    padding: 20px;
    margin: 20px;
    border: 3px dashed powderblue;
}

#task2 {
    background-color: OldLace;
    padding: 20px;
    margin: 20px;
    border: 3px dashed powderblue;
}
