h2 {
    color: Black;
    font-family: verdana;
    font-size: 200%;
}



h3 {
    color: MidnightBlue;
    font-family: verdana;
    font-size: 100%;
}



h4 {
    color: LightCoral;
    font-family: verdana;
    font-size: 75%;
}



h5 {
    color: LightPink;
    font-family: verdana;
    font-size: 50%;
}



p {
    font-family: "verdana";
    text-indent: "30px";
    margin-left: "15px";
}



#content {
    background-color: LavenderBlush;
    width: 600px;
    min-height: 300px;
    padding: 20px;
    margin: 20px;
    border: solid 2px blue;
    font-size: 20px;
}
